body{
    background-color: darkcyan;
}
h1{
    color: blue;
}
p{
    color: red;
}
.title{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    width: 500px;
    height: 45px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
    font-size: 40px;
    line-height: 45px;
    font-size: italic;
    text-align: center;
    
}


.txtbx{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 25px;
    line-height: 30px;
    border-radius: 30px;
}

#btn{
    color: white;
    font-size: 25px;
    line-height: 30px;
    width: 100px;
    height: 40px;
    background-color: coral;
    margin-top: 40px;
    border-radius: 30px;
}


.lbl{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.rbchk{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 15px;
    font-weight: bold;
}